@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');
 :root {
    --primary: #08aeea;
    --secondary: #13D2B8;
    --purple: #bd93f9;
    --pink: #ff6bcb;
    --blue: #8be9fd;
    --gray: #333;
    --font: "Poppins", sans-serif;
    --gradient: linear-gradient(40deg, #ff6ec4, #7873f5);
    --shadow: 0 0 15px 0 rgba(0, 0, 0, 0.05);
}

button {
    cursor: pointer;
}


/*banner-product*/

.banner_product {
    background-color: #373f50;
    color: #fff;
}

h3.product_title {
    color: #fff;
}

ul.product_list li a {
    color: #fff;
    font-size: 14px;
}

.banner_product-function {
    margin-top: 35px;
    display: flex;
    justify-content: space-between;
}

.function-list {
    display: flex;
    align-items: center;
    margin-left: 177px;
}

.function-list span {
    opacity: 0.75;
    font-size: 14px;
}

select.function-select {
    margin: 0 10px;
    padding: 15px 25px;
    font-size: 14px;
    outline: none;
    border-radius: 6px;
    color: #4b566b;
    border: 1px solid #dae1e7;
    box-shadow: inset 0 1px 2px transparent;
}

.function-list p {
    padding: 0 20px;
}

.function-list i.next_icon {
    opacity: 0.75;
    cursor: pointer;
}

.function-list i.fa-bars {
    font-size: 20px;
    background: #fff;
    color: #ccc;
    padding: 10px 15px;
    border-radius: 6px;
    cursor: pointer;
}


/*product-selection*/

.product-selection {
    margin-top: 50px;
    margin-bottom: 30px;
}

.selection {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.product-selection_left {
    width: 30%;
    box-shadow: 0 0.25rem 0.5625rem -0.0625rem rgb(0 0 0 / 3%), 0 0.275rem 1.25rem -0.0625rem rgb(0 0 0 / 5%) !important;
    background-color: #fff;
    border-radius: 10px;
    padding: 15px 20px;
    transform: translateY(-25%);
}

.product-selection_right {
    width: 70%;
}

h3.selection_title {
    color: #373f50;
    font-size: 22px;
}

.dropdown-product {
    margin-top: 20px;
    padding-bottom: 30px;
}

.dropdown-product:not(:last-child) {
    border-bottom: 1px solid #ccc;
}

.dropdown-select {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.dropdown-select span.dropdown-selected {
    color: #4b566b;
    font-size: 17px;
    font-weight: 500;
    margin-bottom: 10px;
    transition: all 0.25s linear;
}

.dropdown-select i.dropdown-caret {
    font-size: 12px;
    background-color: #f3f5f9;
    color: #4b566b;
    padding: 5px 5px;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.25s linear;
}

.dropdown-select span:hover {
    color: #fe696a;
    cursor: pointer;
}

.dropdown-select i:hover {
    color: #fe696a;
    cursor: pointer;
}

.dropdown-list {
    height: 150px;
    overflow-y: scroll;
    padding-right: 6px;
}

.dropdown-list::-webkit-scrollbar {
    width: 3px;
    border-radius: 1px;
}

.dropdown-list::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.dropdown-list::-webkit-scrollbar-thumb {
    background-color: darkgrey;
}

.dropdown-search {
    position: relative;
    margin-bottom: 10px;
}

.dropdown-search input {
    width: 100%;
    padding: 10px;
    border: 1px solid #eee;
    border-radius: 6px;
    outline: none;
}

.dropdown-search i.fa-search {
    position: absolute;
    right: 11px;
    top: 0;
    transform: translateY(10px);
    opacity: 0.75;
}

.dropdown-item {
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    font-weight: 500;
    color: #4b566b;
    line-height: 1.8;
    transition: all 0.25s linear;
}

.dropdown-item span:hover {
    color: #fe696a;
    cursor: pointer;
}


/* radio*/

.radio {
    line-height: 2.5;
    margin-left: 10px;
}

.radio_input {
    display: none;
}

.radio_input:checked+.radio_label::before {
    background-color: #fc556f;
    /* border: 2px solid #b7c1cb; */
    box-shadow: 0 0 0 3px #fff, 0 0 0 4px #fc556f;
}

.radio_label {
    position: relative;
    padding-left: 28px;
    cursor: pointer;
}

.radio_label::before {
    content: "";
    position: absolute;
    background-color: #eee;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 12px;
    height: 12px;
    border-radius: 30px;
}

.radio_color::before {
    content: "";
    position: absolute;
    background-color: #fc556f;
    left: 0;
    top: 133%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    border-radius: 30px;
}

.radio_color::before {
    background-color: #fc556f;
    /* border: 2px solid #b7c1cb; */
    box-shadow: 0 0 0 3px #fff, 0 0 0 4px #fc556f;
}

.radio_color-1::before {
    content: "";
    position: absolute;
    background-color: #ca7295;
    left: 0;
    top: 133%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    border-radius: 30px;
}

.radio_color-1::before {
    background-color: #ca7295;
    /* border: 2px solid #b7c1cb; */
    box-shadow: 0 0 0 3px #fff, 0 0 0 4px #ca7295;
}

.radio_color-2::before {
    content: "";
    position: absolute;
    background-color: #91c2c3;
    left: 0;
    top: 133%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    border-radius: 30px;
}

.radio_color-2::before {
    background-color: #91c2c3;
    /* border: 2px solid #b7c1cb; */
    box-shadow: 0 0 0 3px #fff, 0 0 0 4px #91c2c3;
}

.radio_color-3::before {
    content: "";
    position: absolute;
    background-color: #696dc8;
    left: 0;
    top: 133%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    border-radius: 30px;
}

.radio_color-3::before {
    background-color: #696dc8;
    /* border: 2px solid #b7c1cb; */
    box-shadow: 0 0 0 3px #fff, 0 0 0 4px #696dc8;
}

ul.dropdonw-list_color {
    display: flex;
}

.item_color {
    margin-right: 35px;
}


/*checkbox*/

.checkbox {
    line-height: 2.5;
}

.checkbox_input {
    display: none;
}

.checkbox_input:checked+.checkbox_label::after {
    opacity: 1;
    visibility: visible;
}

.checkbox_label {
    position: relative;
    padding-left: 28px;
    cursor: pointer;
}

.checkbox_label::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: aliceblue;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 5px;
}

.checkbox_label::after {
    content: "";
    position: absolute;
    top: 4px;
    left: 4px;
    width: 10px;
    height: 6px;
    transform: rotate(-45deg);
    border-left: 3px solid #fc556f;
    border-bottom: 3px solid #fc556f;
    visibility: hidden;
    transition: all 0.25s linear;
}


/*right*/

.item_news {
    width: calc(33.33% - 25px);
}

.banner_convert {
    margin-bottom: 25px;
}

.banner_convert .container {
    background-color: #f6f9fc;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    border-radius: 6px;
}

.banner_convert-desc {
    margin-left: 30px;
    line-height: 2.5;
}

.banner_convert-desc h4 {
    color: #373f50;
    font-weight: 300;
    font-size: 22px;
}

.banner_convert-desc h3 {
    color: #373f50;
    font-size: 24px;
}

a.convert-link {
    border-color: #fe3638;
    background-color: #fe3638;
    box-shadow: 0 0.5rem 1.125rem -0.5rem rgb(254 105 106 / 90%);
    color: #fff;
    padding: 8px 15px;
    border-radius: 7px;
    font-size: 14px;
    transition: all 0.25s linear;
}

a.convert-link:hover {
    background-color: #fe8080;
    border-color: #fe7879;
}


/*Mobile*/

@media screen and (max-width: 767px) {
    /*prdoduct*/
    .product-selection_left {
        display: none;
    }
    .product-selection_right {
        width: 100%;
    }
    h3.product-title {
        margin-bottom: 20px;
    }
    .trending-product_fashion {
        margin: 0;
        display: grid;
        grid-template-columns: 1fr !important;
    }
    .product-item {
        border-bottom: 1px solid #eee;
    }
    /*banner*/
    .banner_product {
        margin-top: 90px;
    }
    .banner_product-function {
        margin-top: 20px;
        justify-content: center;
    }
    .function-list {
        display: none;
    }
    .function-list:nth-child(2) {
        display: block;
        margin-left: 0;
    }
    .banner__contact-home {
        flex-direction: column;
    }
    /*convert*/
    .banner_convert .container {
        flex-direction: column;
        margin-bottom: 200px;
        overflow: visible;
    }
    .banner_convert-desc {
        margin-left: 0px;
        line-height: 2.0;
        padding: 20px 10px 30px;
    }
    .banner_convert .container img {
        margin-top: -22px;
    }
    /*nexxt - prev*/
    .product-next {
        display: flex;
        align-items: center;
    }
    .product-next .number span {
        padding-right: 15px;
    }
}


/*Ipad*/

@media screen and (max-width: 1023px) {
    /*banner*/
    .banner_product {
        margin-top: 90px;
    }
    .banner_product-function {
        margin-top: 20px;
        justify-content: center;
    }
    .function-list {
        display: none;
    }
    .function-list:nth-child(2) {
        display: block;
        margin-left: 0;
    }
    .banner__contact-home {
        flex-direction: column;
    }
    /*convert*/
    .banner_convert-desc {
        margin-left: 0px;
        line-height: 2.0;
        padding: 20px 10px 30px;
    }
    .banner_convert .container img {
        margin-top: -22px;
    }
    /*nexxt - prev*/
    .product-next {
        display: flex;
        align-items: center;
    }
    .product-next .number span {
        padding-right: 15px;
    }
    /*prdoduct*/
    .product-selection_left {
        display: none;
    }
    .product-selection_right {
        width: 100%;
    }
    h3.product-title {
        margin-bottom: 20px;
    }
    .trending-product_fashion {
        margin: 0;
        display: grid;
        grid-template-columns: 1fr !important;
    }
    .product-item {
        border-bottom: 1px solid #eee;
    }
}