/*blog*/

.blog-post {
    margin-top: 30px;
    margin-bottom: 100px;
    cursor: pointer;
}

.post {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    padding-bottom: 40px;
}

.blog-post_people {
    width: calc(50% - 20px);
}

.post_image {
    position: relative;
}

.post_image img {
    border-radius: 10px;
}

.post_times {
    position: absolute;
    top: 12px;
    right: 35px;
    background-color: rgba(255, 255, 255, 0.8);
    color: #4b566b;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
}

h3.post_title {
    margin-top: 20px;
    color: #373f50;
    font-weight: 600;
    font-size: 20px;
    transition: all 0.25s linear;
}

h3.post_title:hover {
    color: #fe696a;
    cursor: pointer;
}

.post_author {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.post_author img.author_image {
    width: 50px;
    height: 50px;
    object-fit: cover;
    object-position: top;
    border-radius: 50%;
    margin-right: 10px;
}

.post_author p.author_name {
    font-size: 13px;
    color: #4b566b;
    margin-right: 10px;
    position: relative;
}

.post_author p.author_name::after {
    content: "";
    position: absolute;
    width: 1px;
    height: 20px;
    background-color: #ccc;
    margin: 0 10px;
}

.post_author span {
    font-size: 13px;
    color: #4b566b;
    margin-left: 10px;
}


/*review*/

.blog-review {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    padding-bottom: 50px;
    margin-bottom: 50px;
}

.blog-review_left {
    width: 40%;
}

.blog-review_right {
    width: 60%;
    color: #7d879c;
    font-weight: 300;
}

.blog-review_right p.review_desc {
    font-size: 14px;
    font-weight: 400;
    margin-top: 20px;
}

.blog-review_right img.review-image {
    margin-bottom: 15px;
    border-radius: 10px;
}


/*next*/

.next {
    margin-bottom: 60px;
}

.blog-next {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.prev {
    color: #4b566b;
    font-size: 18px;
    transition: all 0.25s linear;
}

.prev i.fa-chevron-right {
    color: #4b566b;
}

.prev:hover {
    color: #4b566b;
    background-color: #f3f5f9;
    border-color: #f3f5f9;
    cursor: pointer;
}

.number span {
    padding-right: 30px;
    color: #4b566b;
}

.number span:first-child {
    box-shadow: 0 0.5rem 1.125rem -0.425rem rgb(254 105 106 / 90%);
    color: #fff;
    background-color: #fe696a;
    border-color: rgba(0, 0, 0, 0);
    display: inline-flex;
    padding: 8px 20px;
    margin-right: 20px;
    border-radius: 5px;
    cursor: pointer;
}


/*Mobile*/

@media screen and (max-width: 767px) {
    /*banner*/
    .banner__contact {
        margin-top: 90px;
    }
    /*post*/
    .post {
        display: grid;
        grid-row-gap: 30px;
    }
    .blog-post_people {
        width: 100%;
    }
    .blog-post {
        margin-top: 50px;
    }
    /*review*/
    .blog-review {
        flex-direction: column;
    }
    .blog-review_left,
    .blog-review_right {
        width: 100%;
    }
    h3.post_title {
        margin: 20px 0px;
    }
}


/*Ipad*/

@media screen and (max-width: 1023px) {
    /*banner*/
    .banner__contact {
        margin-top: 90px;
    }
    /*review*/
    .blog-review {
        flex-direction: column;
    }
    .blog-review_left,
    .blog-review_right {
        width: 100%;
    }
    h3.post_title {
        margin: 20px 0px;
    }
    .blog-review_right {
        position: relative;
        height: 0;
        padding-bottom: calc((9/16) * 100%);
    }
    .blog-review_right img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: fill;
    }
}