/*banner__contacts*/

.banner__contact {
    margin-top: 20px;
    padding: 30px 0px;
    background-color: #f6f9fc;
}

.banner__contact-home {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h3.contact-title {
    font-weight: 600;
    font-size: 27px;
    color: #373f50;
}

ul.contact_list {
    display: flex;
}

ul.contact_list li a {
    color: #4b566b;
    font-size: 14px;
}

ul.contact_list li a i.fa-chevron-right {
    color: #4b566b;
    font-size: 13px;
    margin: 0 10px;
}


/*contact__addrress*/

.contact__addrress {
    margin-top: 30px;
}

.contact__address-list {
    display: flex;
    justify-content: space-between;
}

.address-list_item {
    width: calc(25% - 20px);
    text-align: center;
    border: 1px solid #eee;
    border-radius: 6px;
    padding: 20px 20px 10px;
    cursor: pointer;
}

.address-list_item i {
    color: #fe696a;
    font-size: 35px;
    margin-bottom: 10px;
}

.address-list_item h3.address-title {
    font-weight: 400;
    font-size: 16px;
    color: #373f50;
    margin-bottom: 10px;
}

.address-list_item p.address-name {
    font-size: 14px;
    color: #ccc;
    font-weight: 300;
    margin-bottom: 20px;
}

.address-list_item a.addres-link {
    color: #fe696a;
    font-size: 14px;
}

.address-list_item i.fa-chevron-right {
    color: #fe696a;
    font-size: 14px;
}


/*contact__partner*/

.contact__partner {
    margin-top: 80px;
}

h3.partner-title {
    text-align: center;
    margin-bottom: 40px;
}

.contact__partner-list {
    display: flex;
    justify-content: space-between;
}

.partner-list_item {
    box-shadow: 0 0.25rem 0.5625rem -0.0625rem rgb(0 0 0 / 3%), 0 0.275rem 1.25rem -0.0625rem rgb(0 0 0 / 5%) !important;
    width: calc(33.33% - 20px);
    border-radius: 10px;
}

.item-images {
    position: relative;
    overflow: hidden;
}

.partner-list_item img.partner-image {
    border-radius: 10px 10px 0 0;
    transition: all 2s linear 0.5s;
}

img.partner-image:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.item-contact {
    padding: 15px 20px;
}

.item-contact h3.address-name {
    font-weight: 600;
    color: #373f50;
    font-size: 18px;
    margin-bottom: 15px;
}

.partner__palce-contact {
    display: flex;
    align-items: center;
}

.partner__palce-contact:not(:last-child) {
    border-bottom: 1px solid #eee;
}

.partner__palce-contact i {
    font-size: 23px;
    color: #fe696a;
}

.place-name {
    margin-left: 20px;
}

.place-name:not(:first-child) {
    padding: 10px 0px;
}

.place-name span {
    display: block;
    font-size: 13px;
    font-weight: 400;
    color: #7d879c;
}

.place-name a.place-link {
    font-size: 14px;
    font-weight: 400;
    color: #373f50;
}

.contact__icon {
    width: 25px;
    height: 25px;
}


/*Maps*/

.contact__maps {
    margin-top: 80px;
    display: flex;
    align-items: center;
}

.form__singup h3.singup-title {
    font-weight: 600;
    color: #373f50;
    font-size: 30px;
}

form.form-maps {
    width: 50%;
    box-shadow: none;
    margin-left: 30px;
}

.signup-form_text textarea {
    width: 100%;
    outline: none;
    border: 0;
    border: 1px solid #eee;
    border-radius: 6px;
}

.signup-form_text label {
    display: block;
    margin-bottom: 10px;
}

.sigin-form_submit {
    margin-top: 20px;
    padding: 15px 20px;
    border: 0;
    border-radius: 5px;
    font-size: 16px;
    background-color: #ea4335;
    color: #fff;
    transition: all 0.25s linear;
    margin-bottom: 20px;
}

.sigin-form_submit:hover {
    opacity: 0.8;
}


/*Mobile*/

@media screen and (max-width: 767px) {
    /*banner*/
    .banner__contact {
        margin-top: 90px;
    }
    /*contact address*/
    .contact__address-list {
        display: grid;
        grid-template-columns: 1fr;
        grid-row-gap: 30px;
    }
    .address-list_item {
        width: 100%;
    }
    /* contact partner*/
    .contact__partner-list {
        flex-direction: column;
    }
    .partner-list_item {
        width: 100%;
        margin-bottom: 35px;
    }
    /*contact__maps*/
    .contact__maps {
        display: block;
    }
    .contact__maps-epu {
        position: relative;
        height: 0;
        padding-bottom: calc((9/16) * 100%);
    }
    .contact__maps-epu iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: fill;
    }
    form.form-maps {
        width: 100%;
        box-shadow: none;
        margin-left: 0px;
        padding: 30px;
    }
}


/*Ipad*/

@media screen and (max-width: 1023px) {
    /*banner*/
    .banner__contact {
        margin-top: 90px;
    }
    /*contact address*/
    .contact__address-list {
        display: grid;
        grid-template-columns: 1fr;
        grid-row-gap: 30px;
    }
    .address-list_item {
        width: 100%;
        padding: 30px 0px;
    }
    /* contact partner*/
    .contact__partner-list {
        flex-direction: column;
    }
    .partner-list_item {
        width: 100%;
        margin-bottom: 35px;
    }
    .item-images {
        position: relative;
        height: 0;
        padding-bottom: calc((9/16) * 100%);
    }
    .item-images img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: fill;
    }
    /*contact__maps*/
    .contact__maps {
        display: block;
    }
    .contact__maps-epu {
        position: relative;
        height: 0;
        padding-bottom: calc((9/16) * 100%);
    }
    .contact__maps-epu iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: fill;
    }
    form.form-maps {
        width: 100%;
        box-shadow: none;
        margin-left: 0px;
        padding: 30px;
    }
}